---
layout: page
---
<style>
  h4 {
    text-align: center;
    font-weight: 700;  
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-bottom: solid 1px #d3d3d3;
    margin: 30px 0 20px 0;
    padding: 15px 0 15px 0;
}
 
 </style>

<h4>These are the projects I've been working on recently:</h4>

<div class="grid-container">

    <div class="grid-child purple">
      <h5>VIDEO GAME PROJECT</h5>
        Lucas ipsum dolor sit amet fett greedo cade skywalker padmé vader moff c-3po lars sith. Padmé organa tatooine wicket vader calrissian binks hutt maul. Jar watto luke kenobi. Moff solo darth hutt organa mon mara. Amidala ponda tatooine darth biggs hutt utapau sidious. Mace gonk biggs baba dagobah darth jinn bespin. 
    </div>

    <div class="grid-child green">
        <img src="/assets/img/algorithm.jpg">
    </div>
  
</div>

 <div class="grid-container">
    <div class="grid-child purple">
      <h5>ACADEMIC PROTIPS</h5>
         Mace gonk biggs baba dagobah darth jinn bespin. Kit amidala windu yavin hutt darth jango. Hutt grievous darth hutt ackbar. Ventress anakin sith solo jar moff jinn. Kit biggs mara c-3p0 mara darth maul skywalker. Skywalker windu mandalorians wampa. 
    </div>

    <div class="grid-child green">
        <img src="/assets/img/resources.jpg">
    </div>
  
</div>

<div class="grid-container">

    <div class="grid-child purple">
      <h5>VIDEO GAMES UX CRITIQUES</h5>
         Mace gonk biggs baba dagobah darth jinn bespin. Kit amidala windu yavin hutt darth jango. Hutt grievous darth hutt ackbar. Ventress anakin sith solo jar moff jinn. Kit biggs mara c-3p0 mara darth maul skywalker. Skywalker windu mandalorians wampa. 
    </div>

    <div class="grid-child green">
        <img src="/assets/img/reading-academic-articles.jpg">
    </div>
  
</div>

